/Niryo-robot-test/attention_data_list_r.npy
/Niryo-robot-test/attention_data_list.npy
/Niryo-robot-test/attention_labels.npy
/Niryo-robot-test/attention_labels_r.npy
/Niryo-robot-test/attention_S.npy
/Niryo-robot-test/attention_V.npy
/Niryo-robot-test/attention_Vrp.npy
/Niryo-robot-test/mwtfiles/mwt_S.npy
/Niryo-robot-test/mwtfiles/mwt_V.npy
/Niryo-robot-test/mwtfiles/SAmwt_V.npy
/Niryo-robot-test/mwtfiles/Third_mwt_V.npy
/Niryo-robot-test/mwtfiles/Third_mwt_S.npy
